body{
    font-family: sans-serif;
    font-size: 1.75rem;
    line-height: 1.6;
}

section {
    margin-block: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  background-color: #131521; 
  border-radius: 12px;
}

.intro-header {
    text-align: right;
    margin-left: 100px;
    justify-content: space-between;
    color: white;
}

.intro-header {
  text-align: right;
  margin-left: 100px;
  color: white;
  font-size: 1.75rem;
  line-height: 1.4;
}

.intro-header span {
  font-size: 1.75rem; /* smaller or styled differently */
  color: white;   
  line-height: 1.4;
}


h2 {
    font-size: 2.5rem;
    color: #131521;
    margin-inline: 0px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 3px #b0a257 solid;
}


p {
    margin-inline: 0px;
    margin-block: 30px;
}

li {
    margin-inline-start: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #786e7a
}

img {
    max-inline-size: 100%;
    display: block;
    margin-block: 60px;
    margin-bottom: 0px;
    border-radius: 12px;
}

header {

    display: flex;
    justify-content: space-between;
}

.logo {
    margin-block: 0px;   
    max-height: 120px;
}

.hero-image {
  width: 100%;
  height: 400px; /* change this to the height you want */
  object-fit: cover; /* this crops the image to fit the container while maintaining aspect ratio */
  border-radius: 12px;
  display: block;
  margin: 40px auto;
}


.linkedin-button {
  text-align: center;
}


.linkedin-button a {
    font-size: 1.5rem;
  background-color: #b0a257;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
    display: inline-block;
  text-decoration: none;
}

.linkedin-button a:hover {
    background-color: #131521;
}

.paragraph {
    margin-top: 10px;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto; 
}

.grid-two-columns {
    margin-top: 0px;
    display: grid;
    gap: 30px;

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-two-columns img {
    margin-top: 0;
    margin-bottom: 10px;
}

.grid-two-columns p {
    margin-top: 0px;
    margin-bottom: 0;
}

footer {
  color: #131521;
  font-size: 1.1rem;
  text-align: center;
  border-top: 3px #b0a257 solid;
  margin-inline: 100px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-column {
  min-width: 220px;
  text-align: left;
}

.footer-column p {
  margin: 10px 0;
}

.footer-column a {
  color: #131521;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.contact-icon {
  color: #63E6BE;
  margin-right: 10px;
}

.contact-icon {
  color: #63E6BE;
  margin-right: 10px;
}
